<div class="col-sm-9">
      	
	<!-- column 2 -->	
	<h3><i class="glyphicon glyphicon-dashboard"></i> Dashboard</h3>  
            
	<hr>
      
	<div class="row">
		<!-- center left-->	
		<div class="col-md-4">
			<div class="well">Packages <span class="badge pull-right"><%= Package.count %></span></div>
		</div>
		<div class="col-md-4">
			<div class="well">Flights <span class="badge pull-right"><%= Flight.count %></span></div>
		</div>
		<div class="col-md-4">
			<div class="well">Cities <span class="badge pull-right"><%= City.count %></span></div>
		</div>
		<div class="col-md-4">
			<div class="well">Carts <span class="badge pull-right"><%= Cart.count %></span></div>
		</div>
		<div class="col-md-4">
			<div class="well">Account <span class="badge pull-right"><%= User.count %></span></div>
		</div>
		<div class="col-md-4">
			<div class="well">Contacts <span class="badge pull-right"><%= Contact.count %></span></div>
		</div>
     
	</div><!--/row-->
</div>