<%= render partial: 'slides' %>
	
<div class="bg_cont1">
	<div class="bg_cont">
		<section id="content">
			<div class="main">
				<div class="inside">
					<h2>Packages recently <a href="/create_package" style="font-size:15px; color:#DD4108">Create package for me</a></h2>
					<div class="container_16">
						<div class="tail2">
							<div class="container">
								<%  @packages_recently.each do |package|%>
									<div class="grid_5" style="margin-bottom: 20px; position:relative">
										<% if package.discount.present? %>
											<strong class="discount">-<%= package.discount %>$</strong>
										<% end %>
										<a href="/packages/<%= package.id %>"><img alt="" src="<%= package.image.url(:medium) %>" class="img-indent"/></a><br>
										<strong class="txt"><%= package.description %></strong>
									</div>
								<% end %>
								
							</div>
							
							<a href="/packages" class="view_more">View more</a>
							
						</div>
					</div>
										
					<h2>Review recently</h2>
					<div class="container_16">
						<% @comments_recently.each do |comment|%>
							<div class="container review">
								<div class="grid_1 alpha">
									<img src="<%= comment.user.avatar %>" alt=""><br>
								</div>
								<div class="grid_15 omega">
									<div class="box">
										<div class="indent-box">
											<h3><%= comment.user.full_name %></h3>
											<%= comment.body %>
										</div>
									</div>
								</div>
							</div>
						<% end %>
						
					</div>
					
					<a href="/comments" class="view_more">View more</a>
						
				</div>
			</div>
		</section>
	</div>
</div>