<h3>
	<i class="glyphicons sun"></i> Requests
</h3>
<hr/>
<table class="table table-striped">
	<thead>
		<tr>
			<th>#</th>
			<th>Account</th>
			<th>Created at</th>
			<th>Tools</th>
		</tr>
	</thead>
	<tbody>
		<% @requests.each_with_index do |request, index| %>
			<tr>
				<td><%= index + 1 %></td>
				<td><%= request.user.full_name %></td>
				<td><%= request.created_at.strftime("%d-%b-%Y %H:%M") %></td>
				<td class="tools">
					<a href="/admin/requests/<%= request.id %>" class="glyphicons eye_open"></a>
					<a href="/admin/requests/<%= request.id %>" data-method="delete" class="glyphicons bin"></a>
				</td>
			</tr>
		<% end %>
	</tbody>
</table>